<h1>Projects</h1>
<p>My projetcs</p>

<ul>
	<% @projects.each do |pr| %>
	<li>
		<a href="<%= project_entries_path(pr) %>">
		<%=pr.name %>
		</a>




			<% if pr.description? %>
				<%= "-" %>
				<%=pr.description %>
			<% end %>
		
	</li>
	<% end %>
</ul>